# EDA216 - Lab 2

## E/R Model

![E/R Model](ER.png)

## E/R Model with multiplicities

![E/R with multiplicities](ERrelation.png)

## UML

![UML](UML2.png)

## Relational model

Movies(<u>name</u>)

Theaters(<u>name</u>, seats)

Performances(<em><u>name</u></em>, <u>date</u>, theater_name, available_seats)

Reservations(<em>username</em>, <u>reservation_number</u>, <em><u>movie_name</u></em>, <em><u>date</u></em>)

Users(<u>username</u>, name, address, phone_number)

## Preparation

First load the Jupyter SQL extension by evaluating the next cell:

In [17]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Next run your script which sets up your database, assuming your script
is in the file `lab2.sql`, you can create a file `lab2.db` by issuing
(in a command shell):

```
    sqlite3 lab2.db < lab2.sql
```

Now we can import the database we just created by evaluating:

In [33]:
%sql sqlite:///lab2.db

'Connected: None@lab2.db'

If your database gets corrupt as you run the lab, you only have to
execute the `sqlite3` command above (in a shell), and then reload the
database.

By default, SQLite doesn't check foreign key constraints, but we can
turn it on with:

In [19]:
%%sql 
PRAGMA foreign_keys=ON;

Done.

[]

## Tasks

Once we've imported our database, we can check that the key
constraints we stated work as intended. Try the following:

Show all performances:

In [36]:
%%sql
SELECT * 
FROM performances

Done.

[('La La Land', '2017-02-01', 'Royal', 496),
 ('La La Land', '2017-02-02', 'Filmstaden Storgatan', 63)]

Create reservations:

In [37]:
%%sql
SELECT *
FROM reservations

Done.

[(1, 'andy', 'La La Land', '2017-02-01'),
 (2, 'andy2', 'La La Land', '2017-02-01')]

Insert two movie theaters with the same name:

In [16]:
%%sql
INSERT INTO theaters (name, seats)
VALUES ('Royal', 3000);

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

Insert two performances of the same movie on the same date:

In [ ]:
%%sql

Insert a performance where the theater doesn’t exist in the database:

In [ ]:
%%sql

Insert a ticket reservation where either the user or the performance
doesn’t exist (first make sure SQLite checks foreign key constrains,
see above):

In [ ]:
%%sql